body {
    font-family:'Press Start 2P', cursive;
    background-color: 	#afc77a;
}

.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 2px 2px 10px #2e371b;
    border-style: solid;
}

.board div {
    width: 20px;
    height: 20px;
}

h1 {
    text-align: center;
    margin: 50px 0px 70px 0px;
    font-size: 45px;
    font-weight: 400;
    color:  #2e371b;
    text-shadow: 1px 1px 5px #2e371b;

}

.score {
    text-align: center;
    margin-top: 25px;
    color: #2e371b;
    padding: 40px;
    font-size: 25px;
    font-style: bold;
    text-shadow: 1px 1px 5px #2e371b;
}

.snake {
    background-color: 	#2e371b;
    box-shadow: 1px 1px 5px #2e371b;
}

.apple {
    background-color: 	#2e371b;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #2e371b;    
}