body {
    font-family:'Montserrat', sans-serif;
}
.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    background-color: #DDD8D8;
    margin: 0 auto;
    box-shadow: 5px 10px 18px #888888;
}

.board div {
    width: 20px;
    height: 20px;
}

h1 {
    text-align: center;
    margin: 25px 0px 50px 0px;
    font-size: 40px;
    text-shadow:  5px 10px 18px #84b55f;
}

.score {
    text-align: center;
    margin-top: 25px;
}

.start {
    margin: 0 auto;
    display: block;
    padding: 15px 32px;
    margin-top: 25px;
}

.snake {
    background-color: #84b55f;
}

.apple {
    background-color: #EB5555;
    border-radius: 20px;
}